<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<!--<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>-->
	<targets async="true">
		<target xsi:type="File"
				name="file"
				layout="Egen API|${machinename}|${longdate}|${threadname}|${level}|${logger}|${message}|${stacktrace}|${exception:format=ToString}"
				fileName="${basedir}/logs/logfile-${shortdate}.txt"
				keepFileOpen="true"
				/>
		<!--<target xsi:type="File" 
				name="file" 
				fileName="${basedir}/logs/nlog-AspNetCore-all-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" 
				/>		
		<target name="file" xsi:type="File"
            layout="Egen API | ${longdate} ${logger} ${message}${exception:format=ToString}"
            fileName="${basedir}/logs/${shortdate}-logfile.txt"
            keepFileOpen="true"
            encoding="utf-8" />
		<target xsi:type="File" 
				name="ErrorLog" 
				fileName="c:\temp\nlog-AspNetCore-own-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}"
				/>
		<target xsi:type="File"
				name="file"
				fileName="${basedir}/logs/${shortdate}-logfile.txt"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}"
				keepFileOpen="true"
				encoding="utf-8" 
				/>-->
		<!--<target xsi:type="Debugger" name="Debugger" />-->
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="file" />
		<!--<logger name="System.*" minlevel="Warn" />
		<logger name="Microsoft.*" minlevel="Warn" />
		<logger name="Microsoft.Hosting.Lifetime*" minlevel="Info" />
		<logger name="*" minlevel="Trace" writeTo="file" final="true" />-->
	</rules>
</nlog>